/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* Sections style */

@import url('./badges.css');

.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.gallery-item {
  width: calc((100% - 80px) / 5);
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .gallery-item img {
  width: 100%;
  object-fit: cover;
} */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: none;
  margin: 20px auto;
  animation: rotation 1s linear infinite;
}

.loader.is-visible {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  text-align: center;
}
.info p {
  display: flex;
  flex-direction: column;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}
